body{
    background-color: #1F2937;
    color: white;
    padding: auto;
    text-align: center;
}

label{
    display:block;
    padding-top: 4rem;
}

button{
    padding: 0.5rem;
    margin-top: 2rem;
    border-radius: 1rem;
}